n8n/meta-embedded-signup.workflow.json
{
  "name": "Meta Embedded Signup - Tech Provider",
  "nodes": [
    {
      "id": "metaEmbeddedSignupWebhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-520, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "meta/embedded-signup",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "validateAndStoreConnectedAccount",
      "name": "Validate and Store Connected Account",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-220, 0],
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\n\nif (body.event === 'meta_embedded_signup_diagnostic' || body.diagnostic === true) {\n  return [{ json: { ok: true, diagnostic: true, reached_n8n: true, received_at: new Date().toISOString() } }];\n}\n\nconst connected = body.connected_account ?? {};\nconst signup = body.signup ?? {};\nconst owner = connected.owner ?? {\n  client: body.client,\n  user_id: body.user_id,\n  team_id: body.team_id,\n  account_id: body.account_id,\n};\n\nconst code = body.code ?? signup.code;\nconst wabaId = body.waba_id ?? connected.waba_id;\nconst phoneNumberId = body.phone_number_id ?? connected.phone_number_id;\nconst businessId = body.business_id ?? connected.business_id;\nconst businessToken = body.business_token ?? connected.business_token;\nconst connectedAt = connected.connected_at ?? body.connected_at ?? new Date().toISOString();\n\nconst missing = [];\nif (!code) missing.push('code');\nif (!wabaId) missing.push('waba_id');\nif (!phoneNumberId) missing.push('phone_number_id');\nif (missing.length) {\n  throw new Error('Missing required payload fields: ' + missing.join(', '));\n}\n\nconst tokenMetadata = connected.token_metadata ?? body.token_metadata ?? {};\nconst staticData = $getWorkflowStaticData('global');\nstaticData.connectedWhatsappAccounts ??= {};\nconst key = wabaId + ':' + phoneNumberId;\n\nstaticData.connectedWhatsappAccounts[key] = {\n  waba_id: wabaId,\n  phone_number_id: phoneNumberId,\n  business_id: businessId,\n  business_token: businessToken,\n  token_metadata: tokenMetadata,\n  owner,\n  state: body.state ?? signup.state,\n  session: signup.session,\n  status: connected.status ?? body.status ?? 'connected',\n  connected_at: connectedAt,\n  updated_at: new Date().toISOString(),\n};\n\nreturn [{\n  json: {\n    ok: true,\n    stored: true,\n    waba_id: wabaId,\n    phone_number_id: phoneNumberId,\n    business_id: businessId,\n    status: staticData.connectedWhatsappAccounts[key].status,\n    connected_at: connectedAt,\n    token_received: Boolean(businessToken),\n  },\n}];"
      }
    },
    {
      "id": "returnCleanJsonResponse",
      "name": "Return Clean JSON Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [80, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate and Store Connected Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate and Store Connected Account": {
      "main": [
        [
          {
            "node": "Return Clean JSON Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
