n8n/meta-embedded-signup.workflow.json
{
  "id": "EA6f6q8SZkewllyJ",
  "name": "Meta Embedded Signup - Tech Provider",
  "active": true,
  "nodes": [
    {
      "id": "metaEmbeddedSignupWebhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-520, 0],
      "webhookId": "7b41ad6e-d55c-47a1-93d4-715b7a5f6bc1",
      "parameters": {
        "httpMethod": "POST",
        "path": "meta/embedded-signup",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "validateAndStoreConnectedAccount",
      "name": "Validate and Store Connected Account",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-220, 0],
      "parameters": {
        "jsCode": "const expectedSecret = $env.N8N_WEBHOOK_SECRET;\nconst providedSecret = $json.headers?.['x-servicioscreativos-secret'];\n\nif (!expectedSecret || providedSecret !== expectedSecret) {\n  return [{\n    json: {\n      ok: false,\n      error: expectedSecret ? 'Unauthorized.' : 'Workflow secret is not configured.',\n      statusCode: expectedSecret ? 401 : 503,\n    },\n  }];\n}\n\nconst body = $json.body ?? $json;\n\nif (body.event === 'meta_embedded_signup_diagnostic' || body.diagnostic === true) {\n  return [{ json: { ok: true, diagnostic: true, reached_n8n: true, received_at: new Date().toISOString() } }];\n}\n\nif (body.event === 'meta_app_deauthorized' || body.event === 'meta_user_data_deletion_requested') {\n  if (!body.user_id) {\n    return [{ json: { ok: false, error: 'user_id is required.', statusCode: 400 } }];\n  }\n\n  const lifecycleData = $getWorkflowStaticData('global');\n  lifecycleData.connectedWhatsappAccounts ??= {};\n  let removed = 0;\n\n  for (const [key, account] of Object.entries(lifecycleData.connectedWhatsappAccounts)) {\n    if (account?.token_metadata?.user_id === body.user_id) {\n      delete lifecycleData.connectedWhatsappAccounts[key];\n      removed += 1;\n    }\n  }\n\n  return [{\n    json: {\n      ok: true,\n      processed: true,\n      event: body.event,\n      user_id: body.user_id,\n      removed_accounts: removed,\n      processed_at: new Date().toISOString(),\n    },\n  }];\n}\n\nconst connected = body.connected_account ?? {};\nconst signup = body.signup ?? {};\nconst owner = connected.owner ?? {\n  client: body.client,\n  user_id: body.user_id,\n  team_id: body.team_id,\n  account_id: body.account_id,\n};\n\nconst code = body.code ?? signup.code;\nconst wabaId = body.waba_id ?? connected.waba_id;\nconst phoneNumberId = body.phone_number_id ?? connected.phone_number_id;\nconst businessId = body.business_id ?? connected.business_id;\nconst businessToken = body.business_token ?? connected.business_token;\nconst connectedAt = connected.connected_at ?? body.connected_at ?? new Date().toISOString();\n\nconst missing = [];\nif (!code) missing.push('code');\nif (!wabaId) missing.push('waba_id');\nif (!phoneNumberId) missing.push('phone_number_id');\nif (!businessToken) missing.push('business_token');\nif (missing.length) {\n  return [{ json: { ok: false, error: 'Missing required payload fields: ' + missing.join(', '), statusCode: 400 } }];\n}\n\nconst tokenMetadata = connected.token_metadata ?? body.token_metadata ?? {};\nconst staticData = $getWorkflowStaticData('global');\nstaticData.connectedWhatsappAccounts ??= {};\nconst key = wabaId + ':' + phoneNumberId;\n\nstaticData.connectedWhatsappAccounts[key] = {\n  waba_id: wabaId,\n  phone_number_id: phoneNumberId,\n  business_id: businessId,\n  business_token: businessToken,\n  token_metadata: tokenMetadata,\n  owner,\n  state: body.state ?? signup.state,\n  session: signup.session,\n  status: connected.status ?? body.status ?? 'connected',\n  connected_at: connectedAt,\n  updated_at: new Date().toISOString(),\n};\n\nreturn [{\n  json: {\n    ok: true,\n    stored: true,\n    waba_id: wabaId,\n    phone_number_id: phoneNumberId,\n    business_id: businessId,\n    status: staticData.connectedWhatsappAccounts[key].status,\n    connected_at: connectedAt,\n    token_received: true,\n  },\n}];"
      }
    },
    {
      "id": "returnCleanJsonResponse",
      "name": "Return Clean JSON Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [80, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.statusCode ?? 200 }}"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate and Store Connected Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate and Store Connected Account": {
      "main": [
        [
          {
            "node": "Return Clean JSON Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
